header{
    width: 98%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

header, footer, .cards {	
	margin: 5px;
	padding: 5px;
	background-color: white;
	opacity: 0.7;
}

body {
	background-image: url("../img/bg.jpg");
	
	margin: 0px;
	padding: 5px;
}

.verCurso{
	align-items: center;
	margin: 15px;
	padding: 5px;
	background-color: rgb(255, 255, 255);
}

.searchMenu{
    border-radius: 5px;
    height: 20px;
}

button:hover {
	color: #00ff00;
	background-color: white;
}

.menu_icon{
    padding-left: 5px;
    height: 30px;
    width: 30px;
}


.aluno{
    background-color: #e2e2e2;
    opacity: 0.9;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

.prof{
    background-color: #e2e2e2;
    opacity: 0.9;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

h1, h2, h3, p {
	font-family: Roboto, sans-serif;
	color: black;
}

h1{
	font-size: 35px;
}

h2 {
	font-size: 22px;
    text-align: center;
    padding-top: 10px;
}

h3 {
    text-align: left;
    padding-left: 5%;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    border-radius: 5%;
    background-color: silver;
    opacity: 0.7;
    
}

.cards__item {
    display: inline-block;
    background-color: white;
    border-radius: 5%;
}

.card_img{
    max-width: 30px;
    height: 30px;
    padding-left: 80%;
    transform: translate(0px, -50px);
   }

.card_description{
    transform: translate(0px, -55px);
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
    text-align: left;
    overflow: auto;
    color: black;
}

footer {
	width: calc(100% - 30px);
	position: absolute;
	bottom: 0px;
	align-items: left;
}