.cabecalho {
	text-align: center;	
}

.formulario {
	text-align: center;	
	white-space: pre-line;	
}

input {
	width: 300px;
	height: 40px;
	
	text-align: center;
}

input:hover {
	color: #488BB5;
	background-color: white;
}
